* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.reading {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: red solid 2px;
    background-color: bisque;
    width: 200px;
    visibility: hidden;
}