* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f9f6f2;
    display: grid;
    grid-template-rows: max-content 1fr 1fr;
    grid-template-areas: 
        "header"
        "reading-shelf"
        "read-shelf";
    font-family: "Libre Baskerville", serif;
    color: #2E2A26;
}

.library-icon {
    width: 45px;
    fill: #2E2A26;
}

h1 {
    display: flex;
    align-items: center;
}

.header {
    padding: 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    grid-area: header;
}

.section-heading {
    display: flex;
    align-items: center;
    padding: 1rem;
    grid-area: unread-books;
}

h2 {
    margin-right: auto;
}

.card.book {
    border: #8B6F5A solid 2px;
    background-color: #f4e5d6;
    min-width: 225px;
    min-height: 150px;
    padding: 10px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    visibility: hidden;
    height: 0;
    width: 0;
}

.book-info {
    line-height: 1.5rem;
}

.reading {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "unread-books"
        "shelf";
    border-bottom: black solid 1px;
}

.read {
    grid-area: read-shelf;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
        "unread-books"
        "shelf";
}

.shelf-container {
    grid-area: shelf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.new {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    background-color: #7A5C3E;
    color: #FFFFFF;
    padding: 0.75em;
    border-radius: 10px;
}

.plus {
    fill: #FFFFFF;
    width: 1.5em;
}

.new:hover {
    background-color: #5E4630;
}

button {
    font-family: "Inter", sans-serif;
}

.delete {
    width: 30px;
    border: none;
    background-color: #f4e5d6;
}

.delete:hover {
    svg {
        fill: #5E4630;
    }
}

.read-icon {
    width: 30px;
}

.controls {
    display: flex;
}

input[type="checkbox"] {
    margin-left: 5px;
    width: 17px;
    accent-color: #7A5C3E;
}

svg {
    fill: #7A5C3E;
}