* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: red solid 2px;
    background-color: bisque;
}