* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.reading {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    border: red solid 2px;
    background-color: bisque;
    width: 175px;
    height: 225px;
    padding: 10px;
    visibility: hidden;
}

.book {
    background-color: aquamarine;
    height: 85%;
}

.read {
    display: flex;
    justify-content: center;
    align-items: center;
}